{% import "@theme/patterns/core/snippets.twig" as snippets %}

<div class="ecl-address {{ extra_classes }}" {{ snippets.attr(extra_attributes)}}>
  <address class="ecl-address__element">
    {{ content }}
  </address>
</div>
