<blockquote class="ecl-blockquote">
  <p class="ecl-blockquote__body">{{ citation }}</p>
  <footer class="ecl-blockquote__attribution">
    {% include "@theme/components/author.html.twig" with {
      label_element: 'cite',
      label_classes: 'ecl-blockquote__author',
      author: author,
      image: image
    } only %}
  </footer>
</blockquote>
