{% if citation is not empty %}
  <blockquote class="ecl-blockquote">
    <p class="ecl-blockquote__body">{{ citation }}</p>
    {% if author %}
    <footer class="ecl-blockquote__attribution">
      {% include "@theme/patterns/components/author.html.twig" with {
        label_element: 'cite',
        label_classes: 'ecl-blockquote__author',
        name: name,
        image: image
      } only %}
    </footer>
    {% endif %}
  </blockquote>
{% endif %}
