<div class="ecl-comment-thread">
  {% include "@theme/patterns/components/comment.html.twig" with {
    extra_classes: 'ecl-comment-thread__comment',
    comment: comment
  } only %}

  {% if items is not empty %}
    {% for item in items %}
      {% include "@theme/patterns/components/comment-thread.html.twig" with item|default({}) only %}
    {% endfor %}
  {% endif %}
</div>
