<article class="ecl--video">
  <header class="ecl--video_header">
    <h1 class="ecl--video__title">{{ title }}</h1>
  </header>
  <div class="ecl--video__content">
    <div class="ecl--video__body">
      {{ body|raw }}
    </div>
  </div>
</article>
