{% if items is not empty %}
  <div class="ecl-inline-stats">
    <div class="ecl-inline-stats__items">
      {% for item in items %}
        <div class="ecl-inline-stats__item">
          {% if item.path %}
            <a href="{{ item.path }}" class="ecl-inline-stats__item-link">
          {% endif %}
          {% if item.icon is not empty and icon_file_path %}
            {% include '@ecl-twig/ec-component-icon/ecl-icon.html.twig' with {
              icon: {
                size: 'xs',
                path: icon_file_path,
                type: item.icon.type|default('branded'),
                name: item.icon.name,
              },
              extra_classes: 'ecl-inline-stats__item-icon',
            } only %}
          {% endif %}
          <span class="ecl-inline-stats__item-label">{{ item.label }}</span>
          <span class="ecl-inline-stats__item-value">{{ item.value }}</span>
          {% if item.updates %}
            {% include "@theme/patterns/components/update-indicator.html.twig" with item.updates|default({})|merge({
              extra_classes: 'ecl-inline-stats__update-indicator ecl-update-indicator--is-small' ~ item.extra_classes|default(''),
            }) %}
          {% endif %}
          {% if item.path %}
            </a>
          {% endif %}
        </div>
      {% endfor %}
    </div>
  </div>
{% endif %}
