<div class="ecl-signup">
  <h3 class="ecl-signup_title">Sign up to this event</h3>
  <p class="ecl-signup_text">Get notified of the latest changes and take part in the discussion linked to this event.</p>
  <a href="{{ action.url }}" class="ecl-link ecl-link--standalone ecl-link--button ecl-link--button-primary ecl-link--button--big">
    <span class="ecl-link__label">{{ action.label }}</span>
  </a>
</div>
