<div class="ecl-timestamp {{ extra_classes }}">
  {% if icon_file_path is not empty %}
    {% include "@ecl-twig/ec-component-icon/ecl-icon.html.twig" with {
      extra_classes: 'ecl-timestamp__icon',
      icon: {
        path: icon_file_path,
        type: 'custom',
        name: 'time',
        size: 'xs',
      },
    } only %}
  {% endif %}
  {% if label is not empty %}
    <time class="ecl-timestamp__label">{{ label }}</time>
  {% endif %}
</div>
