<div class="ecl-well {{ extra_classes }}">
  <div class="ecl-well__content">
    {% block content %}{{ content }}{% endblock %}
  </div>
  {% if block("footer") is not empty %}
    <div class="ecl-well__footer">
      {% block footer %}{% endblock %}
    </div>
  {% endif %}
</div>
