{
  "presets": [
    [
      "@babel/preset-env",
      {
        "useBuiltIns": "entry",
        "corejs": { "version": 2 }
      },
      "@babel/preset-react"
    ]
  ],
  "plugins": [
    ["module-resolver", {
      "alias": {
        "@theme": ["./"]
      }
    }]
  ]
}
