{#
/**
 * @file
 * Theme override for oe webtools social share block.
 */
#}
<div class="ecl-social-media-share">
    {% if title is not empty %}
        <p class="ecl-social-media-share__description">
            {{ title }}
        </p>
    {% endif %}
    <script type="application/json">{{ icons_json }}</script>
</div>
