{% extends "@theme/patterns/compositions/group/group.full.html.twig" %}

{% block content %}
  {% if latest_tags %}
    <div class="ecl-section-wrapper">
      <div class="ecl-container">
        {% include "@theme/patterns/compositions/featured-topics.html.twig" with latest_tags|default({})|merge({
          title_element: 'h2',
        }) only %}
      </div>
    </div>
  {% endif %}

  {% if highlights %}
    {% include "@theme/patterns/compositions/featured-content-collection.html.twig" with highlights|default({})|merge({
      icon_file_path: common.icon_file_path,
      is_collapsible: true,
      extra_classes: "ecl-section-wrapper ecl-featured-content-collection--has-overview-layout"
    }) only %}
  {% endif %}
{% endblock %}
