{% if documents is empty %}
	{% for item in items %}
		{{ item.content }}
	{% endfor %}
{% else %}

	{% for document in documents %}
		<div data-video-title="{{ document.title }}" id="react-stream-video-block"></div>
		{% include "@theme/patterns/components/attachment.html.twig" with document only %}
	{% endfor %}
{% endif %}
{{ attach_library('eic_community/react-video-stream') }}
