{#
/**
 * @file
 * Theme override for a form element.
 *
 * @see ./core/themes/stable/templates/form/form-element.html.twig
 */
#}
<button{{ attributes }}>
<span class="ecl-button__container">
  <span class="ecl-button__label" data-ecl-label="true">
    {{ 'Search for' | t({}, {'context': 'eic_group'}) }}
  </span>
  {% include "@ecl-twig/ec-component-icon/ecl-icon.html.twig" with {
    icon: {
      path: eic_icon_path,
      type: 'general',
      name: 'search',
      size: 'xs',
    }
  } %}
</span>
</button>
