{#
/**
 * @file
 * Theme override to display a group event.
 *
 * @see ./themes/custom/eic_community/templates/content/group.html.twig
 */
#}
{#% extends "@eic_community/content/node.html.twig" %#}

{% block content %}
  <div {{ attributes }}>
    {{ title_prefix }}
    {{ title_suffix }}
    {% include "@theme/patterns/compositions/project/project.teaser.html.twig" with event_item|default({})|merge({
      title: label|default(''),
      path: url,
      extra_classes: extra_classes,
    }) %}
  </div>
{% endblock %}
