<blockquote class="ecl-blockquote">
  <p class="ecl-blockquote__body">{{ citation }}</p>
  <footer class="ecl-blockquote__attribution">
    {% include "@theme/compositions/author.html.twig" with {
      label_element: 'cite',
      label_classes: 'ecl-blockquote__author',
      author: author,
      media: media
    } only %}
  </footer>
</blockquote>
