{% set _card = card|default({})|without('authors', 'path') %}

{% set is_link = card.title.path is empty and card.infos is empty and card.tags is empty ? TRUE : FALSE %}

<div class="ecl-card-wrapper {{ is_link ? 'ecl-card-wrapper--as-link' }}">
  {% include "@ecl-twig/ec-component-card/ecl-card.html.twig" with {
    card: _card,
    icon_path: icon_file_path,
    extra_attributes: extra_attributes,
    extra_classes: extra_classes,
  } only %}
  {% if card.authors %}
    <div class="ecl-card">
      {% for author in card.authors %}
        {% include "@theme/patterns/components/author.html.twig" with {
          name: author.name,
          image: author.image,
        } only %}
      {% endfor %}
    </div>
  {% endif %}
  {% if is_link %}
    <a class="ecl-card-wrapper__link" href="{{ card.path }}">{{ read_more_label|default('Go to ' ~ card.path) }}</a>
  {% endif %}
</div>
