<div class="ecl-collapsible-options {{ extra_classes }}">
  <div class="ecl-collapsible-options__trigger-wrapper">
    {% set _icon = {} %}
    {% if icon is empty %}
      {% set icon = {name: 'plus', type: 'ui'} %}
    {% endif %}


    {% if icon_file_path is not empty %}
      {% set _icon = {
        path: icon_file_path,
        type: icon.type,
        name: icon.name,
        size: 's',
      } %}
    {% endif %}

    {% if block('trigger') is defined and not empty %}
      <div class="ecl-collapsible-options__trigger" tabindex="0">
        {{ block('trigger') }}
      </div>
    {% elseif trigger %}
        <div class="ecl-collapsible-options__trigger" tabindex="0">
          {{ trigger }}
        </div>
    {% else %}
      {% include "@ecl-twig/ec-component-button/ecl-button.html.twig" with {
        extra_classes: 'ecl-collapsible-options__trigger',
        icon_position: 'before',
        icon: _icon,
        label: collapse_label|default('More'),
        variant: 'call',
      } only %}
    {% endif %}
  </div>

  <div class="ecl-collapsible-options__collapse-wrapper">
    <div class="ecl-collapsible-options__collapse-well">
      <div class="ecl-collapsible-options__items">
        {% for item in items %}
          <div class="ecl-collapsible-options__item">
            {% if item.content is not empty %}
              {{ item.content }}
            {% elseif item.link or item.label %}
              {% set _extra_classes ='ecl-collapsible-options__button ' ~ item.extra_classes|default('') %}

              {% if item.is_active %}
                {% set _extra_classes = _extra_classes ~ ' ecl-collapsible-options__button--is-active' %}
              {% endif %}

              {% if item.link %}
                {% include "@ecl-twig/ec-component-link/ecl-link.html.twig" with item|default({})|merge({
                  link: item.link|default({})|merge({
                    icon_position: 'before',
                  }),
                  icon: icon_file_path ? item.icon|default({})|merge({
                    path: icon_file_path,
                    size: 'xs',
                  }) : {},
                  extra_classes: 'ecl-link--button ecl-link--button-ghost ' ~ _extra_classes|default(''),
                }) only %}
              {% else %}
                {% include "@ecl-twig/ec-component-button/ecl-button.html.twig" with item|default({})|merge({
                  extra_classes: _extra_classes,
                  icon_position: 'before',
                  icon: icon_file_path ? item.icon|default({})|merge({
                    path: icon_file_path,
                    size: 'xs',
                  }) : {},
                  variant: 'ghost',
                }) only %}
              {% endif %}
            {% endif %}
          </div>
        {% endfor %}
      </div>
    </div>
  </div>
</div>
