<section class="ecl-section-wrapper ecl-comments-overview {{ extra_classes }}">
  <div class="ecl-container">
    <div class="ecl-comments-overview__wrapper">
      {% for item in items %}
        <div class="ecl-comments-overview__item">
          {% include "@theme/patterns/components/comment-thread.html.twig" with item|default({}) %}
        </div>
      {% endfor %}
    </div>
  </div>
</section>
