{% if items is not empty %}
  <div class="ecl-featured-list">
    <div class="ecl-featured-list__items">
      {% for item in items %}
        {% if item.link %}
          <div class="ecl-featured-list__item">
            {% set _icon = {} %}

            {% if icon_file_path and item.icon %}
              {% set _icon = item.icon|default({})|merge({
                path: icon_file_path,
                size: 's',
              }) %}
            {% endif %}

            {% include '@ecl-twig/ec-component-link/ecl-link.html.twig' with item|default({})|merge({
              icon: _icon,
              link: item.link|default({})|merge({
                type: 'standalone',
                icon_position: 'before',
              }),
            }) only %}
          {% endif %}
        {% endfor %}
        </div>
    </div>
  </div>
{% endif %}
