{% if sidebar is not empty %}
  {% set output_sidebar = sidebar %}
{% elseif block('sidebar') is defined %}
  {% set output_sidebar = block('sidebar') %}
{% endif %}

<section class="ecl-section-wrapper">
  <div class="ecl-editorial-article {{ extra_classes }}">
    <div class="ecl-container">
      <div class="ecl-editorial-article__wrapper">
        {% if actions is not empty %}
          <section class="ecl-editorial-article__header">
            {% include "@theme/patterns/components/inline-actions.html.twig" with actions|default({})|merge({
              items: actions.items ? actions.items|map(i => i|merge({
                extra_classes: i.extra_classes|default('') ~ ' ecl-link--button ecl-link--button-primary'
              }))
            }) %}
          </section>
        {% endif %}
        <section class="ecl-editorial-article__content">
          {% block content %}
            {{ content }}
          {% endblock %}
        </section>
        {% if output_sidebar is not empty %}
          <aside class="ecl-editorial-article__aside">
            <div class="ecl-editorial-article__aside-wrapper">
              {{ output_sidebar }}
            </div>
          </aside>
        {% endif %}
      </div>
    </div>
  </div>
</section>
