{% set title_element = title_element|default('h1') %}

<section class="ecl-section-wrapper ecl-editorial-header">
  <div class="ecl-container">
    <div class="ecl-editorial-header__wrapper">
      <div class="ecl-editorial-header__main">
        {% include "@theme/patterns/components/meta-list.html.twig" with {
          extra_classes: "ecl-editorial-header__meta ecl-meta-list--large",
          items: meta
        } %}

        {% if title is not empty %}
          <{{ title_element }} class="ecl-editorial-header__title">{{ title }}</{{ title_element }}>
        {% endif %}
      </div>

      {% if actions is not empty %}
        <div class="ecl-editorial-header__actions">
          {% for action in actions %}
            {% set action_icon = {} %}

            {% if icon_file_path %}
              {% set action_icon = {
                path: icon_file_path,
                type: action.icon.type,
                name: action.icon.name,
                size: 'xs',
              } %}
            {% endif %}

            {% include "@ecl-twig/ec-component-button/ecl-button.html.twig" with action|default({})|merge({
              variant: "ghost",
              icon_position: 'before',
              icon: action_icon,
            }) %}
          {% endfor %}
        </div>
      {% endif %}
    </div>
  </div>
</section>
