<div class="ecl-editable-hero-banner {{ extra_classes }}">
  <figure class="ecl-editable-hero-banner__image-wrapper">
    <img class="ecl-editable-hero-banner__image" src="{{ image }}" />
  </figure>
  <div class="ecl-editable-hero-banner__main-wrapper">
    <div class="ecl-editable-hero-banner__push"></div>
    <div class="ecl-editable-hero-banner__main">
      <div class="ecl-editable-hero-banner__content-wrapper">
        <div class="ecl-editable-hero-banner__content">
          {% block content %}{{ content }}{% endblock %}
        </div>
      </div>
    </div>
  </div>
</div>
