{% set title_element = title_element|default('h1') %}

<section class="ecl-section-wrapper ecl-editorial-header">
  <div class="ecl-container">
    <div class="ecl-editorial-header__wrapper">
      <div class="ecl-editorial-header__main">
        {% include "@theme/patterns/components/meta-list.html.twig" with {
          extra_classes: "ecl-editorial-header__meta ecl-meta-list--large",
          items: meta
        } only %}

        {% if title is not empty %}
          <{{ title_element }} class="ecl-editorial-header__title">{{ title }}</{{ title_element }}>
        {% endif %}
      </div>
      {% if actions is not empty %}
        <div class="ecl-editorial-header__actions">
          {% for action in actions %}
            <div class="ecl-editorial-header__action">
              {% set _icon = {} %}

              {% if icon_file_path %}
                {% set _icon = {
                  path: icon_file_path,
                  type: action.icon.type,
                  name: action.icon.name,
                  size: 'xs',
                } %}
              {% endif %}

              {% if action.items %}
                {% include "@theme/patterns/compositions/collapsible-options.html.twig" with {
                  extra_classes: 'ecl-collapsible-options--aligns-from-right',
                  collapse_label: action.label|default(action.link.label),
                  icon_file_path: icon_file_path,
                  items: action.items,
                } only %}
              {% else %}
                {% set _action = {} %}

                {% if action is not empty %}
                  {% set _link = action.link|default({})|merge({
                    icon_position: 'before'
                  }) %}

                  {% set _action = action|merge({
                    icon: _icon,
                    link: _link,
                    extra_classes: 'ecl-link--button ecl-link--button-primary'
                  }) %}
                {% endif %}
                {% include "@ecl-twig/ec-component-link/ecl-link.html.twig" with _action|default({}) only %}
              {% endif %}
            </div>
          {% endfor %}
        </div>
      {% endif %}
    </div>
  </div>
</section>
