{% set id = id|default('featured-content-section') %}

<div class="ecl-featured-content-sections">
  <div class="ecl-container">
    <div class="ecl-featured-content-sections__wrapper">
      <div class="ecl-featured-content-sections__aside">
        <div class="ecl-featured-content-sections__aside-inside">
          <div class="ecl-featured-content-sections__link-items">
            {% for item in items %}
              {% if item.content and item.title %}
                <div class="ecl-featured-content-sections__link-item">
                  <a class="ecl-link ecl-featured-content-sections__link" href="{{ '#' ~ id ~ '-' ~ item.id|default(loop.index) }}">
                    {{ item.title }}
                    {% if item.updates %}
                      {% include "@theme/patterns/components/update-indicator.html.twig" with item.updates|default({})|merge({
                        extra_classes: 'ecl-featured-content-sections__update-indicator',
                      }) %}
                    {% endif %}
                  </a>
                </div>
              {% endif %}
            {% endfor %}
          </div>
        </div>
      </div>
      <div class="ecl-featured-content-sections__main">
        <div class="ecl-featured-content-sections__main-inside">
          <div class="ecl-featured-content-sections__items">
            {% for item in items %}
              {% if item.content %}
                <div class="ecl-featured-content-sections__item" id="{{ id ~ '-' ~ item.id|default(loop.index) }}">
                  {{ item.content }}
                </div>
              {% endif %}
            {% endfor %}
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
