{% set title_element = title_element|default('h3') %}

{% if items is not empty %}
<div class="ecl-social-follow {{ extra_classes }}">
  {% if title is not empty %}
    {% if title is not empty %}
      <{{ title_element }} class="ecl-social-share__title">{{ title }}</{{ title_element }}>
    {% endif %}
  {% endif %}

  <div class="ecl-social-follow__items">
    {% for item in items %}
      {% include "@theme/patterns/components/follow-us.html.twig" with item|default({})|merge({
        icon_file_path: icon_file_path
      }) %}
    {% endfor %}
  </div>
  </div>
{% endif %}
