{% set title_element = title_element|default('h1') %}

<header class="ecl-introduction-header {{ extra_classes }}">
  <div class="ecl-container">
    <div class="ecl-introduction-header__wrapper">
      <section class="ecl-introduction-header__content">
        {% include "@theme/patterns/components/meta-list.html.twig" with {
          extra_classes: "ecl-introduction-header__meta",
          items: meta
        } only %}

      {% if title is not empty %}
        <{{ title_element }} class="ecl-introduction-header__title">{{ title }}</{{ title_element }}>
      {% endif %}

      {% if call_to_action is not empty %}
        {% include '@ecl-twig/ec-component-link/ecl-link.html.twig' with call_to_action|merge({
          extra_classes: 'ecl-introduction-header__cta ' ~ call_to_action.extra_classes|default('ecl-link--button ecl-link--button-primary'),
        }) only %}
      {% endif %}
      </section>
      {% if media is not empty %}
        <section class="ecl-introduction-header__media">
          {% include "@theme/patterns/compositions/media-wrapper.html.twig" with {
            description: false,
            extra_classes: 'ecl-introduction-header__media-wrapper',
            sources: media.sources,
            tracks: media.tracks,
            image: media.image,
            alt: media.alt,
            icon_file_path: icon_file_path,
          } only %}
        </section>
      {% endif %}
    </div>
  </div>
</header>
