<div class="ecl-section-wrapper {{ extra_classes }}">
  <div class="ecl-container">
      <div class="ecl-row">
        <div class="ecl-col-8">
          {% block content %}{% endblock %}
        </div>
        <div class="ecl-col-4">
          {% block aside %}{% endblock %}
        </div>
    </div>
  </div>
</div>
