<section class="ecl-my-notifications-management">
  <div class="ecl-my-notifications-management__header">
    {% if title is not empty %}
      <h2 class="ecl-notifications-management__title">{{ title }}</h2>
    {% endif %}
    <div class="ecl-subnavigation__searchform-wrapper">
      <form class="ecl-search-form ecl-subnavigation__searchform" role="search">
        <div class="ecl-form-group">
          <input id="input-search" class="ecl-text-input ecl-text-input--m ecl-search-form__text-input" name="search" type="search" placeholder="Search for topics">
        </div>
        <button class="ecl-button ecl-button--search ecl-search-form__button" type="submit" aria-label="Search">
          <span class="ecl-button__container">
            <span class="ecl-button__label" data-ecl-label="true">Search</span>
            <svg class="ecl-icon ecl-icon--xs ecl-button__icon ecl-button__icon--after" focusable="false" aria-hidden="true" data-ecl-icon=""><use xlink:href="images/sprite/custom/sprites/custom.svg#general--search"></use></svg>
          </span>
        </button>
      </form>
    </div>
  </div>

  <table class="ecl-my-notifications-management__table" cellpadding="0" cellspacing="0">
    <thead>
      <tr>
        <th>Name</th>
        <th>Status</th>
        {% if unsubscribe %}
          <th>Unsubscribe</th>
        {% endif %}
      </tr>
    </thead>
    <tbody>
    {% for item in items %}
      {% include "@theme/patterns/compositions/notifications-management-line.html.twig" with {
        name: item.name,
        icon_file_path: icon_file_path,
        icon: item.items ? 'arrow' : '',
        state: item.state,
        extra_classes: item.items ? 'ecl-my-notifications-management__table__item--parent' : ''
      } %}
      {% for child in item.items  %}
        {% include "@theme/patterns/compositions/notifications-management-line.html.twig" with {
          name: child.name,
          icon_file_path: icon_file_path,
          icon: 'child-arrow',
          state: child.state,
        } %}
      {% endfor %}
    {% endfor %}
    </tbody>
  </table>
  {% include "@theme/patterns/compositions/pagination.html.twig" with pagination|default({})|merge({unsubscribe: unsubscribe}) only %}

</section>
