<div class="ecl-story-teaser {{ extra_classes }}">
  {% if image is not empty %}
    <aside class="ecl-story-teaser__image-wrapper">
      <img src="{{ image.src }}" alt="{{ image.alt }}" />
    </aside>
  {% endif %}
  <div class="ecl-story-teaser__main-wrapper">
    <div class="ecl-story-teaser__main-content">

    </div>
    <footer class="ecl-story-teaser__main-footer">

    </footer>
  </div>
</div>
