<div class="ecl-teaser-overview {{ extra_classes }}">
  {% if items is not empty %}
    <div class="ecl-teaser-overview__items">
      {% for item in items %}
        <div class="ecl-teaser-overview__item {{ item.extra_classes }}">
          {{ item.content }}
        </div>
      {% endfor %}
    </div>
  {% elseif no_items_available %}
    <p clas="ecl-teaser-overview__no-content-message">{{ no_items_available }}</p>
  {% endif %}
</div>
