<div class="ecl-twitter-timeline">
  <div class="ecl-twitter-timeline__throbber">
    {% include "@ecl-twig/ec-component-icon/ecl-icon.html.twig" with {
      icon: {
        path: icon_file_path,
        name: 'twitter',
        type: 'custom',
        size: 'xl',
      }
    } %}
  </div>
</div>
