{#
/**
 * @file
 * Theme override to display primary and secondary local tasks.
 *
 * @see ./core/themes/stable/templates/navigation/menu-local-tasks.html.twig
 */
#}
<div class="ecl-section-wrapper">
  <div class="ecl-container">
    {% include "@oe_theme/navigation/menu-local-tasks.html.twig" %}
  </div>
</div>
