{#
/**
 * @file
 * Theme override to display primary and secondary local tasks.
 *
 * @see ./core/themes/stable/templates/navigation/menu-local-tasks.html.twig
 */
#}
<div class="ecl-container">
  <div class="ecl-row">
    <div class="ecl-col-sm-12">
      {% include "@oe_theme/navigation/menu-local-tasks.html.twig" %}
    </div>
  </div>
</div>
