{% set item_title_element = item_title_element|default('span') %}

<div class="ecl-extended-list__items">
    {% for item in items %}
      {% include "@theme/patterns/compositions/extended-list/extended-list-item.html.twig" with item|merge({
        item_title_element: item.item_title_element|default(item_title_element)
      }) only %}
    {% endfor %}
  </div>
