{#
/**
 * @file
 * Theme override to display a single page.
 *
 * @see ./core/themes/stable/templates/layout/page.html.twig
 */
#}
{% block site_header %}
  {% include "@theme/compositions/site-header.html.twig" with site_header|default({}) only %}
{% endblock %}

{% block page_header %}

{% endblock %}

{% if block('content') is not empty %}
  <main{{ main_attributes }}>
    {{ block('content') }}
  </main>
{% endif %}

{% block page_footer %}{% endblock %}
