{#
/**
 * @file
 * Theme override for a status messages.
 *
 * @see ./core/themes/stable/templates/misc/status-messages.html.twig
 */
#}
<div class="ecl-container">
{% for type, messages in message_list %}
  {% include "@theme/patterns/compositions/notification-banner.html.twig" with {
    title: status_headings[type],
    extra_classes: "ecl-notification-banner--"~type,
    icon: {
      type: "notifications",
      name: type is same as("status") ? "information" : type
    },
    icon_file_path: eic_icon_path,
    messages: messages,
  } only %}
{% endfor %}
</div>
