{#
/**
 * @file
 * Theme override for a status messages.
 *
 * @see ./core/themes/stable/templates/misc/status-messages.html.twig
 */
#}
<div class="ecl-container">
{% for type, messages in message_list %}
  {% include "@theme/patterns/compositions/state-banner.html.twig" with {
    title: status_headings[type],
    icon: {
      type: "notifications",
      name: type is same as("status") ? "information" : type
    },
    icon_file_path: eic_icon_path,
    description: {
      "#theme": "item_list",
      "#list-type": "ul",
      "#items": messages
    }
  } only %}
{% endfor %}
</div>
