{% extends "@theme/patterns/layout/base.html.twig" %}

{% block breadcrumbs %}{% endblock %}

{% block page_header %}
  {% embed "@theme/patterns/compositions/editable-hero-banner.html.twig" with hero|default({})|merge({
    extra_classes: 'ecl-editable-hero-banner--is-blue',
  }) only %}
    {% block content %}
      {% if insertion is not empty %}
        <span class="ecl-description">{{ insertion }}</span>
      {% endif %}

      {% if title is not empty %}
        <h1 class="ecl-title ecl-title--display1">{{ title }}</h1>
      {% endif %}

      {% if description is not empty %}
        <p class="ecl-description">{{ description }}</p>
      {% endif %}

      {% include "@theme/patterns/components/inline-actions.html.twig" with {
        items: actions
      } only %}
    {% endblock %}
  {% endembed %}
  {% include "@theme/patterns/compositions/breadcrumb.html.twig" with breadcrumb|default({}) only %}
{% endblock %}

{% block content %}
  {% include "@theme/patterns/compositions/featured-content-collection.html.twig" with usp|default({})|merge({
    extra_classes: "ecl-section-wrapper ecl-featured-content-collection--has-compact-layout"
  }) only %}

  {% include "@theme/patterns/compositions/featured-content-grid.html.twig" with featured_news|default({})|merge({
    extra_classes: 'ecl-section-wrapper',
  })  only %}

  {% include "@theme/patterns/compositions/featured-content-collection.html.twig" with featured_events|default({})|merge({
    extra_classes: "ecl-section-wrapper ecl-featured-content-collection--has-compact-layout"
  }) only %}

  {% include "@theme/patterns/compositions/featured-content-collection.html.twig" with featured_groups|default({})|merge({
    extra_classes: "ecl-featured-content-collection--has-compact-layout ecl-section-wrapper"
  }) only %}

  {% embed "@theme/patterns/compositions/layout-block.html.twig" with {
    extra_classes: 'ecl-section-wrapper--is-white',
  } %}
    {% block content %}
      {% include "@theme/patterns/compositions/bulletin-block.html.twig" with bulletin_block|default({}) %}
    {% endblock %}

    {% block aside %}
      {% include "@theme/patterns/compositions/follow-us.html.twig" with social_share %}

      {% include "@theme/patterns/compositions/twitter-timeline.html.twig" with {
        icon_file_path: common.icon_file_path,
      } %}
    {% endblock %}
  {% endembed %}

  {% include "@theme/patterns/compositions/fact-figures-wrapper.html.twig" with fact_figures|default({})|merge({
    compact: true,
    extra_classes: 'ecl-section-wrapper ecl-section-wrapper--is-blue',
    column: 4,
  })  only %}

{% endblock %}
