{% extends "@theme/patterns/layout/base.html.twig" %}

{% block page_header %}
  {% embed "@theme/patterns/compositions/editable-hero-banner.html.twig" with hero|default({}) %}
    {% block content %}
      {% if insertion is not empty %}
        <span class="ecl-description">{{ insertion }}</span>
      {% endif %}

      {% if title is not empty %}
        <h1 class="ecl-title ecl-title--display1">{{ title }}</h1>
      {% endif %}

      {% if description is not empty %}
        <p class="ecl-description">{{ description }}</p>
      {% endif %}

      {% include "@theme/patterns/components/inline-actions.html.twig" with {
        items: actions
      } only %}
    {% endblock %}
  {% endembed %}
  {% include "@theme/patterns/compositions/breadcrumb.html.twig" with breadcrumb|default({}) only %}
{% endblock %}

{% block content %}
  {% include "@theme/patterns/compositions/featured-content-collection.html.twig" with usp|default({})|merge({
    extra_classes: "ecl-section-wrapper ecl-featured-content-collection--is-compact"
  }) only %}

  {% include "@theme/patterns/compositions/fact-figures-wrapper.html.twig" with fact_figures|default({})|merge({
    extra_classes: 'ecl-section-wrapper ecl-section-wrapper--is-blue',
  })  only %}

  {% include "@theme/patterns/compositions/featured-content-grid.html.twig" with featured_news|default({})|merge({
    extra_classes: 'ecl-section-wrapper',
  })  only %}

  {% include "@theme/patterns/compositions/featured-content-collection.html.twig" with featured_events|default({})|merge({
    extra_classes: "ecl-section-wrapper ecl-section-wrapper--is-blue ecl-featured-content-collection--is-compact"
  }) only %}
{% endblock %}
