{#
/**
 * @file
 * Overriding base flag link template
 *
 * Available variables:
 * - attributes: HTML attributes for the link element.
 * - title: The flag link title.
 * - action: 'flag' or 'unflag'
 * - flag: The flag object.
 * - flaggable: The flaggable entity.
 */
#}
{% spaceless %}
{# Attach the flag CSS library.#}
{{ attach_library('flag/flag.link') }}

{# Set the remaining Flag CSS classes. #}
{%
  set classes = [
  'flag',
  'flag-' ~ flag_id|clean_class,
  'ecl-u-d-inline-flex',
  'ecl-u-align-items-center',
  'ecl-u-type-color-grey-75',
]
%}

<div class="{{classes|join(' ')}}">
  <span class="ecl-u-mr-xs">
    {% if eic_icon_path %}
      {% include '@ecl-twig/ec-component-icon/ecl-icon.html.twig' with {
        icon: {
          size: "s",
          path: eic_icon_path,
          type: "custom",
          name: "like",
        }
      } only %}
    {% endif %}
  </span>
  <span> {{ 'Like'|t }} ({{ flag_count }})</span>
</div>
{% endspaceless %}
