{% block content %}
  <div class="ecl-section-wrapper contextual-region">
    <h3>{{ content.field_title }}</h3>
    <p class="ecl-description">{{ content.body }}</p>

    {{ content.field_media }}
  </div>
{% endblock %}
