{#
/**
 * @file
 * Theme override for the group menu block.
 *
 * @see ./core/modules/system/templates/block.html.twig
 */
#}
<div {{ attributes }}>
  {{ title_prefix }}
  {{ title_suffix }}
  {% include '@theme/patterns/compositions/subnavigation.html.twig' with group_menu|default({})|merge({
    search_block: search_block,
    icon_file_path: icon_file_path,
  }) %}
</div>
