{#
/**
 * @file
 * Theme override to display a block eic_group_header.
 *
 * Available variables:
 * - group_values: A list of the block's configuration values.
 *   - id: The group ID.
 *   - type: The group bundle machine name.
 *   - title: The title of the group.
 *   - description: The description of the group.
 *   - actions: the actions the user can do in the group
 *   - stats: statistics of the group.
 *   - tags: for now only the private/public visibility of the group
 *
 * @see template_preprocess_eic_group_header_block()
 */
#}
{% block header %}
  {{ title_prefix }}
  {{ title_suffix }}
{% endblock %}

{% if group_values.flags is not empty %}
  {{ attach_library('flag/flag.link') }}
{% endif %}

{% include "@theme/patterns/compositions/editorial-header.html.twig" with {
  icon_file_path: eic_icon_path,
  title: group_values.title,
  description: group_values.description,
  image: group_values.image|default({}),
  parent: {
    link: {
      path: group_values.back_url,
      label: group_values.back_label,
    }
  },
  actions: group_values.actions,
  stats: group_values.stats,
  tags: group_values.tags,
  flags: group_values.flags,
  social_share: group_values.social_share
} only %}

{% if group_values.is_archived %}
    <div class="ecl-container">
        {% embed "@theme/patterns/compositions/state-banner.html.twig" with {
            "title": "Group archived"|t,
            "icon_file_path": eic_icon_path,
            "icon": {"name": "warning", "type": "notifications"},
        } %}
            {% block description %}
                <p>{{ 'This group has been archived. Interactions with the group are no longer possible at this time. For more information please contact your site admin.'|t }}</p>
            {% endblock %}
        {% endembed %}
    </div>
{% endif %}
