{#
/**
 * @file
 * Default template for a pending/draft group's message box.
 *
 * Available variables:
 * - group: The group being displayed
 *
 * @ingroup themeable
 */
#}

<p>This group is pending approval from our community team. We will endeavour to approve the group within 3 days.</p>
<p>You can still <a href="{{ edit_link }}">manage</a> or <a href="{{ delete_link }}">delete</a> your group</p>
