{{ attach_library('eic_community/react-block-modal') }}
<div id="react-modal-block" data-groups="{{ groups | json_encode }}" data-get-groups-url="{{ get_groups_url }}" data-endpoint="{{ endpoint }}" />

</div>
