{{ attach_library('eic_community/react-comments-discussion') }}

<div class="ecl-section-wrapper ecl-section-wrapper--is-grey ecl-comment-overview">
  <div class="ecl-container">
    <div class="ecl-editorial-article ecl-editorial-article--has-static-layout">
      <div class="ecl-container">
        <div class="ecl-editorial-article__wrapper">
          <div class="ecl-editorial-article__content">
            <div id="comments-discussion" data-discussion-id="{{ discussion_id }}"></div>
          </div>
          <aside class="ecl-editorial-article__aside">
            <div class="ecl-editorial-article__aside-wrapper">

              <div class="ecl-featured-list  ecl-featured-list--has-grid-layout  ecl-featured-list--contributors">
                <h3 class="ecl-featured-list__title">Contributors</h3>

                <div class="ecl-featured-list__items-wrapper">
                  <div class="ecl-featured-list__items">
                  </div>
                </div>
              </div>

            </div>
          </aside>
        </div>
      </div>
    </div>
  </div>
</div>
