{#
/**
 * @file
 * Default template for the eic_group_header block.
 *
 * Available variables:
 * - group_values: A list of the block's configuration values.
 *   - id: The group ID.
 *   - type: The group bundle machine name.
 *   - title: The title of the group.
 *   - description: The description of the group.
 *
 * @ingroup themeable
 */
#}
<h2>{{ group_values.title }}</h2>
<p>{{ group_values.description }}</p>
