{#
/**
 * @file
 * Default template for a pending/draft group's message box.
 *
 * Available variables:
 * - group: The group being displayed
 * - edit_link: Relative path to the edit form
 * - delete_link: Relative path to the delete form
 * - invite_link: Relative path to the add form for a group_invitation
 * - has_content: Boolean indicating whether or not the group has content
 * - has_member: Boolean indicating whether or not the group has admins or members
 * - actions: Array of content operations
 *
 * @ingroup themeable
 */
#}

<p>Edit: {{ edit_link }}</p>
<p>Delete: {{ delete_link }}</p>
