{#
/**
 * @file
 * Default template for a pending/draft group's message box.
 *
 * Available variables:
 * - group: The group being displayed
 *
 * @ingroup themeable
 */
#}

<p>Edit: {{ edit_link }}</p>
<p>Delete: {{ delete_link }}</p>
