<div class="ecl-search-input">
  {% include "@ecl-twig/ec-component-text-input/ecl-text-input.html.twig" with {
    id: id,
    disabled: disabled,
    invalid: invalid,
    invalid_icon_label: invalid_icon_label,
    required: required,
    name: name,
    type: type,
    width: width,
    extra_label_classes:   extra_label_classes,
    extra_group_classes:   extra_group_classes,
    extra_classes: 'ecl-search-input__field ' ~ extra_classes|default(''),
    extra_attributes:extra_attributes,
  } only %}
  {% if icon_file_path %}
    {% include "@ecl-twig/ec-component-icon/ecl-icon.html.twig" with {
      icon: {
        type: 'general',
        name: 'search',
        path: icon_file_path,
        size: 's',
      },
      extra_classes: 'ecl-search-input__icon'
    } %}
  {% endif %}
</div>
