{# Todo: we need to change this template that will be used in the notifications. #}
<div class="ecl-comment-overview__item">
  <div class="ecl-comment-thread">
  {% include "@theme/patterns/compositions/comment/comment-base.html.twig" with comment|default({}) only %}
  </div>
</div>
