{#
/**
 * @file
 * Theme override to display a node page.
 *
 * @see ./themes/custom/eic_community/templates/content/node.html.twig
 */
#}
{% embed "@theme/patterns/compositions/editorial-article.html.twig" with editorial_article|default({}) %}
  {% block content %}
    <h1>{{ label }}</h1>
    {{ elements.field_body }}
    {{ elements.field_video_media }}
  {% endblock %}

  {% block sidebar %}
    {{ eic_local_tasks }}

    {% include "@theme/patterns/components/flags.html.twig" with editorial_actions|default({}) %}

    {% include "@theme/patterns/compositions/featured-topics.html.twig" with topics|default({}) %}

  {% endblock %}
{% endembed %}
