{#
/**
 * @file
 * Theme override to display a node page.
 *
 * @see ./themes/custom/eic_community/templates/content/node.html.twig
 */
#}
{% extends "@eic_community/content/node.html.twig" %}
{% set display_submitted = false %}

{% if elements.wiki_section_message is defined %}
  {% block content %}
    <div class="ecl-container">
      {% embed "@theme/patterns/components/well.html.twig" with {
        extra_classes: 'ecl-well--is-centered ecl-well--is-grey',
      } %}
      {% block content %}

      <h2>{{ elements.wiki_section_message['#markup'] }}</h2>


      {% include "@ecl-twig/ec-component-link/ecl-link.html.twig" with {
        link: no_items.link|default({})|merge({
          icon_position: 'after',
          type: 'standalone',
          path: elements.link_add_child_wiki_page_renderable['#url'],
          label: elements.link_add_child_wiki_page_renderable['#title']
        }),
        extra_classes: 'ecl-link--button ecl-link--button-primary',
      } only %}

    {% endblock %}
    {% endembed %}
  </div>
  {% endblock %}
{% endif %}
