{% set embed %}
  <iframe width="560" height="315" src="https://www.youtube.com/embed/fgi-GSCB6ho" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
{% endset %}

<h2>Do nostrud consectetur ullamco laborum amet ea.</h2>
<p>Magna enim consectetur quis sint officia duis anim nostrud id. Dolor ex reprehenderit nisi officia quis anim eu ea cillum. Ea occaecat laborum exercitation ut amet. Cillum nostrud est aute veniam cillum ut velit dolor. Consequat duis labore ipsum est proident deserunt dolore deserunt. Labore irure est id ex aute adipisicing magna elit occaecat. Magna tempor commodo minim adipisicing.</p>

{% if not simple %}
  <h3>Esse cupidatat duis nulla esse.</h3>
  <p>Dolor Lorem tempor proident excepteur proident. Eu enim velit ea ad tempor voluptate. Quis laboris ullamco id irure nostrud cupidatat amet incididunt minim amet aute in. Veniam ad ipsum irure amet ullamco. Ex Lorem nostrud qui duis exercitation laboris fugiat dolore velit pariatur anim quis ea. Eu occaecat sunt incididunt exercitation laborum qui enim nisi do esse irure.</p>

  {% include "@theme/patterns/components/disclaimer.html.twig" with {
    content: "All views express in this story are the autors own and do not represent the views of the EIC or European Commission. Please read our <a>terms and conditions</a>"
  } only %}

  {% include "@theme/patterns/compositions/media-wrapper.html.twig" with {
    image: "http://picsum.photos/1280/720",
    description: "Sunt laborum tempor ullamco adipisicing non et eiusmod.",
  } only %}

  {% include "@theme/patterns/compositions/media-wrapper.html.twig" with {
    image: "http://picsum.photos/1280/720",
    sources: [
      {
        type: 'video/mp4',
        src: 'http://commondatastorage.googleapis.com/gtv-videos-bucket/sample/BigBuckBunny.mp4',
      },
    ]
  } %}

  <h3>Do cupidatat laborum amet velit sint magna.</h3>
  <p>Nisi esse qui <a href="#"> dolore culpa culpa</a> culpa sit aute reprehenderit. Occaecat in culpa sit labore est est occaecat in esse deserunt. Ut duis nulla voluptate ea minim nulla ut do mollit mollit. Officia amet cillum sunt incididunt dolore ex consequat. Aliquip voluptate incididunt elit anim sint aute fugiat exercitation laboris elit laboris enim mollit. Enim consectetur labore incididunt nisi voluptate aliquip pariatur consequat veniam quis in.<p>

  <ul>
    <li>Do velit voluptate dolore ex.</li>
    <li>Anim ad in nulla in reprehenderit adipisicing ad.</li>
    <li>Exercitation incididunt ea ipsum dolore nulla nostrud proident ex.</li>
    <li>Eu duis sunt tempor in reprehenderit.</li>
    <li>Proident consectetur sunt ut veniam cillum dolore nostrud fugiat incididunt incididunt adipisicing labore excepteur excepteur.</li>
  </ul>

  {% include "@theme/patterns/components/blockquote.html.twig" with {
    citation: 'Ullamco consectetur cillum aliqua qui laboris nulla sunt laboris tempor elit ex.',
    name: 'Jane Doe',
  } only %}

  {% include "@theme/patterns/compositions/media-wrapper.html.twig" with {
    image: "http://picsum.photos/1600/900",
    embedded_media: embed
  } only %}

  <h4>Ad cupidatat sint esse ea nisi cupidatat.</h4>
  <ol>
    <li>Ullamco deserunt adipisicing exercitation irure sit incididunt do.</li>
    <li>Non non et reprehenderit cupidatat do.</li>
    <li>Magna Lorem voluptate enim ad id ullamco pariatur et culpa amet tempor proident laboris in.</li>
  </ol>

  {% include "@theme/patterns/components/attachment.html.twig" with {
    title: "Et esse mollit irure do nisi laborum ad magna est non reprehenderit magna non tempor.",
    path: "http://example.com/example-document.2020.pdf",
    download_label: "Download",
    language: 'English',
    filesize: '4,7 Mb',
    author: {
      name: "John Doe",
      path: "?author=johndoe"
    },
    icon_file_path: icon_file_path,
    timestamp: "16 hours ago",
    icon: {
      name: 'pdf',
      type: 'custom',
    }
  } only %}
{% endif %}
