<div class="ecl-topic__overview__item">
  <h3>{{ title }}</h3>
  <div class="ecl-topic__overview__subitems">
    {% for item in items %}
      {% include "@theme/patterns/compositions/topic/topic.overview.subitem.html.twig" with item|merge({
        icon_file_path: icon_file_path
      }) %}
    {% endfor %}
  </div>
</div>
